/* overwrite the big gap between continers */
/* .container-fluid.mt-4 {
    padding: 30;

} */
/* .container-fluid{
    background-color: #fcf1c6;
} */

/* card style from carolina */
.card {
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    background: white;
    transition: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow: hidden;
    position: relative;
    animation: fadeIn 0.6s ease-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0px 30px rgba(15, 161, 49, 0.75);
}

.btn.btn-primary {
    background-color: #0c561e;
    color: rgb(255, 223, 42);
    border-radius: 10px;
    cursor: pointer;
}

.card-img-top {
    filter: hue-rotate(-90deg);
}

.resource_cards {
    padding: 50px 0px;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.academic-banner {
    background-color: #0c561e;
    color: rgb(255, 223, 42);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    text-shadow: 4px 4px 6px rgba(105, 246, 138, 0.75);
    ;

}

.favorite-toggle.ms-2 {
    color: rgb(236, 201, 0);
    font-size: 2rem;
    cursor: pointer;
}

.favorite-toggle:hover {
    color: #e63946;
}